* {
  background-color: orange;
  }

body { background-image:url('https://github.com/poeticider/danspace/issues/1#issue-1141763666');
       background-repeat:repeat; 
}

 h1 {
  font-family: arial;
  }
p  {
  font-family: arial;
  font-size: 30px;
  }

