* {
  background-color: orange;
  }

body { background-image:url('https://tenor.com/view/gandalf-sax-guy-gif-18663354Gandalf');
       background-repeat:repeat; 
}

 h1 {
  font-family: arial;
  }
p  {
  font-family: arial;
  font-size: 30px;
  }

